.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  height: 52px;
  padding: 10px;
  color: white;
  position: relative;
}

.App-header h1 {
  position: absolute;
  top: 7px;
  left: 85px;
}

.App-title {
  font-size: 1.5em;
}

.App-title a {
  color: #fff;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Todo-container {
  margin: 28px 30px;
}

.Todo-container hr {
  margin: 1px 0;
}

.Todo-container .sometxt {
  margin-bottom: 30px;
}

.Todo-app {
  margin-bottom: 20px;
}

.Todo-app form {
  margin-bottom: 25px;
}

.Todo-app span {
  margin-right: 15px;
  font-weight: bold;
}

.Todo-app input {
  height: 18px;
  margin-right: 15px;
}

.Todo-app button {
  height: 24px;
}

.Todo-app ul {
  list-style: none;
  margin: 0 0 18px 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid #ddd;
}

.Todo-app li {
  margin-bottom: 18px;
}

.Todo-app li .txt {
  margin-right: 10px;
  font-weight: normal;
}

.Todo-app li button {
  width: 40px;
  font-weight: bold;
  margin-left: 10px;
}

.grey {
  color: #a5a5a5;
}
